h1 {
    color: #b40404;
    font-family: Arial, sans-serif;
    text-align: center;
}
p {
    color:#b40404;
    font-size: 18px;
    line-height: 1.5,
}
body {
    background-color:#000000;
    margin: 0;
    padding: 20px;
}